body{
  font-family: 'Cabin', sans-serif;
  overflow: auto;
}


img {
  height: 150px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block
}

img#logo {
  height: 200px;
  width: auto;
}

/* Watch for name tags, if image doesn't load it might have to due with that. */

#banner {
  /* position: absolute; */
  text-align: center;
  /* border: 2px dotted rgb(96, 139, 168); */
}

li {
  list-style: none;
  text-align: center;
}


.wrapper {
  /* border: 2px dotted rgb(96, 139, 168); */
  width: 1300px;

}

.flex {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
    align-content: center;
  /* margin:-10px; */
}

.flex>* {
  flex: 1 1 160px;
  margin: 10px;
}

div.wrapper {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.beer-info {
  text-align: center;
}

form#beer-form{
  margin-bottom: 15px;
}



p#more-info {
  display: none;
}

p.show {
  display: block;
}

p.hide {
  display: none;
}
